swagger: "2.0"
info:
  version: 1.0.0-draft1
  title: IO BONUS API
  description: >
    # IO API for Bonus Vacanze
host: api-gad.io.italia.it
basePath: "/api/bonus-vacanze/v1"
schemes:
  - https
security:
  - SubscriptionKey: []
securityDefinitions:
  SubscriptionKey:
    type: apiKey
    name: Ocp-Apim-Subscription-Key
    in: header
consumes:
  - application/json
produces:
  - application/json
paths:
  "/redeemed":
    post:
      operationId: setBonusesAsRedeemed
      summary: Set bonuses status to redeemed
      description: TDB
      parameters:
        - name: redeemed_bonuses
          in: body
          schema:
            $ref: "#/definitions/RedeemedBonuses"
      responses:
        "202":
          description: Request accepted
          schema:
            $ref: "#/definitions/RequestAccepted"
        "400":
          description: Invalid payload
          schema:
            $ref: "#/definitions/ProblemJson"
        "401":
          description: Unauthorized
        "429":
          description: Too many requests
        "500":
          description: Service unavailable.
          schema:
            $ref: "#/definitions/ProblemJson"
definitions:
  ProblemJson:
    $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/v7.3.0/openapi/definitions.yaml#/ProblemJson"
  RequestAccepted:
    type: object
    properties:
      status:
        type: string
        enum: [OK]
  BonusCode:
    type: string
  RedeemedBonus:
    type: object
    properties:
      bonus_code:
        $ref: "#/definitions/BonusCode"
      redeemed_at:
        type: string
        format: date-time
    required:
      - bonus_code
      - redeemed_at
  RedeemedBonuses:
    type: object
    properties:
      items:
        type: array
        items:
          $ref: "#/definitions/BonusCode"
    required:
      - items
