swagger: "2.0"
info:
  version: 1.0.0-draft
  title: IO BONUS API
  description: >
    # IO API for Bonus Vacanze
host: api-gad.io.italia.it
basePath: "/api/bonus/v1"
schemes:
  - https
security:
  - SubscriptionKey: []
securityDefinitions:
  SubscriptionKey:
    type: apiKey
    name: Ocp-Apim-Subscription-Key
    in: header
consumes:
  - application/json
produces:
  - application/json
paths:
  "/redeemed":
    post:
      operationId: addRedeemBonuses
      summary: Set bonuses status to redeemed
      description: TDB
      parameters:
        - name: redeemed_bonuses
          in: body
          schema:
            $ref: "#/definitions/RedeemedBonuses"
      responses:
        "202":
          description: Request accepted
        "400":
          description: Invalid payload
          schema:
            $ref: "#/definitions/ProblemJson"
        "401":
          description: Unauthorized
        "429":
          description: Too many requests
        "500":
          description: Service unavailable.
          schema:
            $ref: "#/definitions/ProblemJson"
definitions:
  ProblemJson:
    $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/v7.3.0/openapi/definitions.yaml#/ProblemJson"
  BonusID:
    type: string
  RedeemedBonuses:
    type: object
    properties:
      batch_id:
        type: string
        description: |-
          The ID of the batch request.
          Used to:
            - avoid reprocessing of already processed batches
            - troubleshoot problems in the request (ex. a non existing bonus_id)
      generated_at:
        type: string
        format: date-time
        description: |-
          Date-time the batch has been generated.
      items:
        type: array
        items:
          $ref: "#/definitions/BonusID"
      total_redeemed_bonuses:
        type: number
        description: |-
          The total number of bonuses activated (including the ones returned in the `items` property).
          Can be used to check the alignment of databases.
    required:
      - batch_id
      - generated_at
      - items
      - total_redeemed_bonuses
